extends layout

block content
   h1 Title: #{book.title}
  
   p #[strong Author:] 
     a(href=book.author.url) #{book.author.name}
   p #[strong Summary:] #{book.summary}
   p #[strong ISBN:] #{book.isbn}

  
  
   if book_instance.length
  
      p #[strong Delete the following bookinstance before attempting to delete this book.]
  
      div(style='margin-left:20px;margin-top:20px')

        h4 Copies
    
        dl
        each book in book_instance
              hr 
              p #[strong Status:] 
                  if book.status=='Available'
                    span.text-success #{book.status}
                  else if book.status=='Maintenance'
                    span.text-danger #{book.status}
                  else
                    span.text-warning #{book.status} 
                  if book.status!='Available'
                    p #[strong Due back:] #{book.due_back_formatted}
              p #[strong Imprint:] #{book.imprint}
              p #[strong ID]: #{book._id}

   else
      p Do you really want to delete this Book?
    
      form(method='POST' action='')
        div.form-group
          input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

        button.btn.btn-primary(type='submit') Delete